/*!FROONT Project element styles */

h1 {
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h2 {
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 1.2;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h3 {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.3;
  text-align: left;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: #d9b903
}

h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h5 {
  font-weight: 600;
  font-size: .6875rem;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: .07rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

h6 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem
}

p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: white
}

blockquote {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.7;
  letter-spacing: -0.03rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 2.5rem
}

a {
  text-decoration: underline;
  color: inherit
}

a:hover {
  opacity: .8
}

.fr_caption_center_light_grey {
  font-family: europa;
  font-weight: 100;
  font-size: .85em;
  line-height: 1.3em;
  text-align: center;
  letter-spacing: .05em;
  color: #cbcbcb
}

.fr_navigation_link {
  font-family: europa;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.35em;
  text-align: center;
  letter-spacing: .01em;
  color: white
}

.fr_paragraph_left {
  font-family: Didact Gothic;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.2;
  color: grey
}

.fr_h2 {
  font-family: Didact Gothic;
  font-weight: 900;
  font-size: 2.125em;
  line-height: 1.25em;
  color: white
}

.fr_modname {
  font-family: Didact Gothic;
  font-weight: 900;
  font-size: 2.125em;
  line-height: 1.25em;
  color: #d9b903;
  background-color: rgba(0, 0, 0, 0.22)
}

.fr_modname.fr-text p {
  text-align: center;
  color: #d9b903
}

.fr_red_button {
  font-family: Open Sans;
  font-size: 1.0em;
  text-align: center;
  letter-spacing: .05em;
  color: white;
  background-color: #f1625e;
  background-position: center center;
  background-size: cover;
  border-radius: 4px
}

.fr_h2-1 {
  font-family: Didact Gothic;
  font-weight: 900;
  font-size: 2.125em;
  line-height: 1.25em;
  color: grey
}

.fr_repo {
  font-family: Didact Gothic;
  font-weight: 900;
  font-size: 2.125em;
  line-height: 1.25em;
  color: #d9b903
}

.fr_repo.fr-text p {
  text-align: center;
  color: #d9b903
}

.fr_hh {
  font-family: Didact Gothic;
  font-weight: 400;
  font-size: 1.1em;
  line-height: .8;
  color: grey
}

.fr_hh.fr-text p {
  line-height: 1.2;
  color: white
}

.fr_paragraph_left-1 {
  font-family: Didact Gothic;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.4em;
  color: grey
}

.fr_paragraph_left-1.fr-text p {
  line-height: .6;
  color: white
}

.fr_hh {
  font-family: Didact Gothic;
  font-weight: 400;
  font-size: 1.1em;
  line-height: .8;
  color: grey
}

.fr_hh.fr-text p {
  line-height: 1.2;
  color: white
}

.fr_paragraph_left-1 {
  font-family: Didact Gothic;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.2;
  color: grey
}

.fr_paragraph_left-1.fr-text p {
  line-height: 1.4
}

.fr_red_button-1 {
  font-family: europa;
  font-size: 1.0em;
  text-align: center;
  letter-spacing: .05em;
  color: white;
  background-color: #f1625e;
  border-radius: 4px
}

.fr_gray_button {
  font-family: europa;
  font-weight: 400;
  font-size: 1.0em;
  text-align: center;
  letter-spacing: .05em;
  color: black;
  background-color: #cbcbcb;
  border-radius: 4px
}

.fr_paragraph_right_black {
  font-family: europa;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: center;
  letter-spacing: .01em;
  color: black
}

.fr_h1_right_black {
  font-family: europa;
  font-weight: 900;
  font-size: 3.55em;
  line-height: 1.0em;
  text-align: right;
  letter-spacing: 0;
  color: black
}

.fr_h1_right_black.fr-text p {
  text-align: center
}

.fr_buy {
  font-family: europa;
  font-size: 1.0em;
  text-align: center;
  letter-spacing: .05em;
  color: white;
  background-color: #f1625e;
  background-image: url(../images/thumbnail/button-zb-2-png-188x62.png_188x62.png);
  background-position: center center;
  background-size: cover;
  border-radius: 4px
}

.fr_gw {
  font-family: europa;
  font-weight: 400;
  font-size: 1.0em;
  text-align: center;
  letter-spacing: .05em;
  color: black;
  background-color: #cbcbcb;
  background-image: url(../images/thumbnail/button-gw1-png-188x62.png_188x62.png);
  background-position: center center;
  background-size: cover;
  border-radius: 4px
}

.fr_paragraph_left-1 {
  font-family: Didact Gothic;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.4em;
  color: grey;
  background-color: rgba(0, 0, 0, 0.2)
}

.fr_paragraph_left-1.fr-text p {
  text-align: left
}

.fr_red_button-1 {
  font-family: Open Sans;
  font-size: 1.0em;
  text-align: center;
  letter-spacing: .05em;
  color: white;
  background-color: #f1625e;
  border-radius: 4px
}

.fr_red_button-1 {
  font-family: Open Sans;
  font-size: 1.0em;
  text-align: center;
  letter-spacing: .05em;
  color: white;
  background-color: #f1625e;
  border-radius: 4px
}

.fr_footer_3 {
  width: 99.96%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #040c28;
  min-height: 4.5em
}

.fr_f3_copyright {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: 0
}

.fr_container_4 {
  float: none;
  display: block;
  width: 99.92%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 6.13em
}

.fr_container {
  float: none;
  display: block;
  width: 99.98%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 2.94em
}

.fr_navigation {
  width: 100%;
  background-color: black;
  z-index: 1000
}

.fr_items {
  float: none;
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 10px;
  overflow: hidden
}

.fr_link_3 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}

.fr_link_2 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}

.fr_link_1 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}

.fr_mobile_toggle {
  display: none;
  width: 22px;
  margin-top: 20px;
  margin-bottom: 13px;
  margin-left: 20px;
  fill: white
}

.fr_link_4 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}

.fr_link_5 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}

.fr_link_6 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}

.fr_link_7 {
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px
}

.fr_content_07 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #064558
}

.fr_c07_2_column_grid {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.18);
  max-width: 940px
}

.fr_c07_2_column_grid.fr-grid>.fr-widget {
  float: left
}

.fr_c07_2_column_grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_c07_2_column_grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_c07_paragraph_text {
  display: block;
  margin-top: 1em
}

.fr_c07_headline {
  float: none;
  display: block
}

.fr_c07_image {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px
}

.fr_content_8 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #064558
}

.fr_c07_2_column_grid_2 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.18);
  max-width: 940px
}

.fr_c07_2_column_grid_2.fr-grid>.fr-widget {
  float: left
}

.fr_c07_2_column_grid_2>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_c07_2_column_grid_2>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_c07_paragraph_text_2 {
  display: block;
  margin-top: 1em
}

.fr_c07_headline_2 {
  float: none;
  display: block
}

.fr_c07_image_2 {
  margin-top: 10px;
  margin-left: 10px;
  min-height: 250px
}

.fr_content_9 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #042e3a
}

.fr_c07_2_column_grid_3 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.18);
  max-width: 940px
}

.fr_c07_2_column_grid_3.fr-grid>.fr-widget {
  float: left
}

.fr_c07_2_column_grid_3>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_c07_2_column_grid_3>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_c07_paragraph_text_3 {
  display: block;
  margin-top: 1em
}

.fr_c07_headline_3 {
  float: none;
  display: block
}

.fr_c07_image_3 {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px
}

.fr_hd1_button_2 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_3 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_4 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_container_5 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto
}

.fr_hd1_button_5 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_container_6 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto
}

.fr_hd1_button_6 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_container_7 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto
}

.fr_hd1_button {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_container_9 {
  float: none;
  display: block;
  width: 99.94%;
  margin-right: auto;
  margin-left: auto;
  background-color: #042e3a;
  min-height: 74.69em
}

.fr_container_10 {
  float: none;
  display: block;
  width: 83.2%;
  margin-top: 5.96em;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.22);
  min-height: 67.31em
}

.fr_paragraph_center_18 {
  display: block;
  width: 90%;
  font-family: Oxygen;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  color: #333;
  min-height: 1.35em;
  max-width: 900px
}

.fr_image_3 {
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  min-height: 12em;
  max-width: 1024px
}

.fr_paragraph_center_17 {
  display: block;
  width: 90%;
  font-family: Oxygen;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  color: #333;
  min-height: 1.35em;
  max-width: 900px
}

.fr_image_2 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  max-width: 1024px
}

.fr_paragraph_center_16 {
  display: block;
  width: 90%;
  font-family: Oxygen;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  color: #333;
  min-height: 1.35em;
  max-width: 900px
}

.fr_container_12 {
  float: none;
  display: block;
  width: 100.04%;
  margin-right: auto;
  margin-left: auto;
  min-height: 8em
}

.fr_text_block_center {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_paragraph_center_3 {
  float: none;
  display: block;
  font-family: Oxygen;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35em;
  text-align: center;
  color: white
}

.fr_header_center {
  float: none;
  display: block;
  margin-top: 20px;
  margin-bottom: .2em;
  min-height: 1.35em
}

.fr_container_13 {
  float: none;
  display: block;
  width: 99.98%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 2.94em
}

.fr_container_14 {
  float: none;
  display: block;
  width: 99.94%;
  margin-right: auto;
  margin-left: auto;
  background-color: #042e3a;
  min-height: 74.69em
}

.fr_container_15 {
  float: none;
  display: block;
  width: 83.2%;
  margin-top: 5.96em;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.22);
  min-height: 67.31em
}

.fr_paragraph_center_19 {
  display: block;
  width: 90%;
  font-family: Oxygen;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  color: #333;
  min-height: 1.35em;
  max-width: 900px
}

.fr_image_4 {
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  min-height: 12em;
  max-width: 1024px
}

.fr_paragraph_center_20 {
  display: block;
  width: 90%;
  font-family: Oxygen;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  color: #333;
  min-height: 1.35em;
  max-width: 900px
}

.fr_image_5 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  max-width: 1024px
}

.fr_container_16 {
  float: none;
  display: block;
  width: 100.04%;
  margin-right: auto;
  margin-left: auto;
  min-height: 8em
}

.fr_text_block_center_2 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_paragraph_center_22 {
  float: none;
  display: block;
  font-family: Oxygen;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35em;
  text-align: center;
  color: white
}

.fr_header_center_2 {
  float: none;
  display: block;
  margin-top: 20px;
  margin-bottom: .2em;
  min-height: 1.35em
}

.fr_paragraph_center_23 {
  display: block;
  width: 90%;
  font-family: Oxygen;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  color: #333;
  min-height: 1.35em;
  max-width: 900px
}

.fr_container_17 {
  float: none;
  display: block;
  width: 99.98%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 2.94em
}

.fr_container_18 {
  float: none;
  display: block;
  width: 99.98%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 2.94em
}

.fr_text_block_center_3 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_paragraph_center {
  float: none;
  display: block;
  font-family: Oxygen;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35em;
  text-align: center;
  margin-bottom: 20px;
  color: #333
}

.fr_header_center_3 {
  float: none;
  display: block;
  margin-bottom: .2em;
  min-height: 1.35em
}

.fr_container_22 {
  float: none;
  display: block;
  width: 99.98%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 2.94em
}

.fr_container_23 {
  float: none;
  display: block;
  width: 32%;
  margin-top: -60px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  min-height: 57px
}

.fr_image_6 {
  width: 56%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px
}

.fr_content_13 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #042e3a
}

.fr_c07_2_column_grid_7 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.18);
  max-width: 940px
}

.fr_c07_2_column_grid_7.fr-grid>.fr-widget {
  float: left
}

.fr_c07_2_column_grid_7>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_c07_2_column_grid_7>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_container_24 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto
}

.fr_hd1_button_15 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_16 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_17 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_c07_paragraph_text_7 {
  display: block;
  margin-top: 1em;
  margin-bottom: 20px
}

.fr_c07_image_7 {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px
}

.fr_big_block_2 {
  float: none;
  display: block;
  width: 32%;
  margin-top: -60px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  background-position: center center;
  background-size: cover;
  min-height: 57px
}

.fr_image_7 {
  float: none;
  display: block;
  width: 56%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px
}

.fr_container_25 {
  float: none;
  display: block;
  width: 99.98%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 2.94em
}

.fr_content_14 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #064558
}

.fr_c07_2_column_grid_8 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.18);
  max-width: 940px
}

.fr_c07_2_column_grid_8.fr-grid>.fr-widget {
  float: left
}

.fr_c07_2_column_grid_8>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_c07_2_column_grid_8>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_container_26 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto
}

.fr_hd1_button_18 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_19 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_c07_paragraph_text_8 {
  display: block;
  margin-top: 1em
}

.fr_c07_headline_5 {
  float: none;
  display: block
}

.fr_c07_image_8 {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px
}

.fr_content_15 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #064558
}

.fr_c07_2_column_grid_9 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.18);
  max-width: 940px
}

.fr_c07_2_column_grid_9.fr-grid>.fr-widget {
  float: left
}

.fr_c07_2_column_grid_9>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_c07_2_column_grid_9>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_container_27 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto
}

.fr_hd1_button_20 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_21 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_c07_paragraph_text_9 {
  display: block;
  margin-top: 1em
}

.fr_c07_headline_6 {
  float: none;
  display: block
}

.fr_c07_image_9 {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px
}

.fr_content_13 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #042e3a
}

.fr_c07_2_column_grid_7 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.18);
  max-width: 940px
}

.fr_c07_2_column_grid_7.fr-grid>.fr-widget {
  float: left
}

.fr_c07_2_column_grid_7>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_c07_2_column_grid_7>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_container_24 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto
}

.fr_hd1_button_15 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_16 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_17 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_c07_paragraph_text_7 {
  display: block;
  margin-top: 1em;
  margin-bottom: 20px
}

.fr_c07_image_7 {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px
}

.fr_big_block_2 {
  float: none;
  display: block;
  width: 32%;
  margin-top: -60px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  background-position: center center;
  background-size: cover;
  min-height: 57px
}

.fr_image_7 {
  float: none;
  display: block;
  width: 56%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px
}

.fr_content_15 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #042e3a
}

.fr_c07_2_column_grid_9 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.18);
  max-width: 940px
}

.fr_c07_2_column_grid_9.fr-grid>.fr-widget {
  float: left
}

.fr_c07_2_column_grid_9>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_c07_2_column_grid_9>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_container_26 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto
}

.fr_hd1_button_21 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_22 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_23 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_c07_paragraph_text_9 {
  display: block;
  margin-top: 1em
}

.fr_c07_image_9 {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px
}

.fr_big_block_3 {
  float: none;
  display: block;
  width: 32%;
  margin-top: -60px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  background-position: center center;
  background-size: cover;
  min-height: 57px
}

.fr_image_8 {
  float: none;
  display: block;
  width: 56%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px
}

.fr_container_27 {
  float: none;
  display: block;
  width: 99.98%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 2.94em
}

.fr_header_4 {
  float: none;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: white;
  background-image: url(../images/thumbnail/f110d31cd658f81307afc82e109ca2143024a338-7-png-1920x1080.png_1920x1080.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 12em
}

.fr_hd4_container {
  float: none;
  display: block;
  width: 90%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.51);
  z-index: 2;
  min-height: 14.2568359375em;
  max-width: 1200px
}

.fr_hd4_buttons {
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: auto;
  max-width: 400px
}

.fr_hd4_buttons.fr-grid>.fr-widget {
  float: left
}

.fr_hd4_buttons>.fr-widget:nth-child(2n+1) {
  margin-top: .6em;
  margin-right: 2.9%;
  margin-bottom: .6em;
  margin-left: 0;
  width: 47.1%;
  clear: left;
  max-width: inherit
}

.fr_hd4_buttons>.fr-widget:nth-child(2n+2) {
  margin-top: .6em;
  margin-right: 0;
  margin-bottom: .6em;
  margin-left: 2.9%;
  width: 47.1%;
  clear: none;
  max-width: inherit
}

.fr_hd4_tell_more {
  float: none;
  display: block;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  max-width: 9em
}

.fr_hd4_subtext {
  float: none;
  display: block;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  max-width: 500px
}

.fr_hd4_main_title {
  float: none;
  display: block;
  width: 48.4%;
  min-height: 7rem;
  max-width: 500px
}

.fr_youtube_video {
  float: none;
  display: block;
  width: 48.97%;
  margin-top: 1.47rem;
  margin-left: 1.13%;
  max-width: 768px
}

.fr_container_28 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto
}

.fr_container_29 {
  float: none;
  display: block;
  width: 66.9%;
  margin-right: auto;
  margin-left: auto;
  min-height: 12em
}

.fr_image {
  width: 86.57%;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px
}

.fr_container_30 {
  float: none;
  display: block;
  width: 99.98%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 2.94em
}

.fr_gallery_09 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #042e3a;
  background-position: center center;
  background-size: cover
}

.fr_g04_4_column_grid {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.24);
  background-position: center center;
  background-size: cover;
  max-width: 940px
}

.fr_g04_4_column_grid.fr-grid>.fr-widget {
  float: left
}

.fr_g04_4_column_grid>.fr-widget:nth-child(4n+1) {
  margin-top: .6em;
  margin-right: 1.5%;
  margin-bottom: .6em;
  margin-left: 1.5%;
  width: 22%;
  clear: left;
  max-width: inherit
}

.fr_g04_4_column_grid>.fr-widget:nth-child(4n+2) {
  margin-top: .6em;
  margin-right: 1.5%;
  margin-bottom: .6em;
  margin-left: 1.5%;
  width: 22%;
  clear: none;
  max-width: inherit
}

.fr_g04_4_column_grid>.fr-widget:nth-child(4n+3) {
  margin-top: .6em;
  margin-right: 1.5%;
  margin-bottom: .6em;
  margin-left: 1.5%;
  width: 22%;
  clear: none;
  max-width: inherit
}

.fr_g04_4_column_grid>.fr-widget:nth-child(4n+4) {
  margin-top: .6em;
  margin-right: 1.5%;
  margin-bottom: .6em;
  margin-left: 1.5%;
  width: 22%;
  clear: none;
  max-width: inherit
}

.fr_big_block {
  float: none;
  display: block;
  width: 43%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.24);
  background-position: center center;
  background-size: cover;
  min-height: 103px
}

.fr_text_block_center_4 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_paragraph_center_24 {
  float: none;
  display: block;
  font-family: Oxygen;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35em;
  text-align: center;
  color: #333
}

.fr_header_center_4 {
  float: none;
  display: block;
  margin-bottom: .2em;
  min-height: 1.35em
}

.fr_gallery_10 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #042e3a
}

.fr_g04_4_column_grid_2 {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.24);
  max-width: 940px
}

.fr_g04_4_column_grid_2.fr-grid>.fr-widget {
  float: left
}

.fr_g04_4_column_grid_2>.fr-widget:nth-child(4n+1) {
  margin-top: .6em;
  margin-right: 1.5%;
  margin-bottom: .6em;
  margin-left: 1.5%;
  width: 22%;
  clear: left;
  max-width: inherit
}

.fr_g04_4_column_grid_2>.fr-widget:nth-child(4n+2) {
  margin-top: .6em;
  margin-right: 1.5%;
  margin-bottom: .6em;
  margin-left: 1.5%;
  width: 22%;
  clear: none;
  max-width: inherit
}

.fr_g04_4_column_grid_2>.fr-widget:nth-child(4n+3) {
  margin-top: .6em;
  margin-right: 1.5%;
  margin-bottom: .6em;
  margin-left: 1.5%;
  width: 22%;
  clear: none;
  max-width: inherit
}

.fr_g04_4_column_grid_2>.fr-widget:nth-child(4n+4) {
  margin-top: .6em;
  margin-right: 1.5%;
  margin-bottom: .6em;
  margin-left: 1.5%;
  width: 22%;
  clear: none;
  max-width: inherit
}

.fr_g04_image_eight_2 {
  min-height: 150px
}

.fr_g04_image_five_2 {
  min-height: 150px
}

.fr_big_block_4 {
  float: none;
  display: block;
  width: 43%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.24);
  background-position: center center;
  background-size: cover;
  min-height: 103px
}

.fr_text_block_center_5 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_paragraph_center_25 {
  float: none;
  display: block;
  font-family: Oxygen;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35em;
  text-align: center;
  color: #333
}

.fr_header_center_5 {
  float: none;
  display: block;
  margin-bottom: .2em;
  min-height: 1.35em
}

.fr_container_31 {
  float: none;
  display: block;
  width: 99.98%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 2.94em
}

.fr_container_32 {
  float: none;
  display: block;
  width: 99.98%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 2.94em
}

.fr_hd4_buy {
  float: none;
  display: block;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  max-width: 9em
}

.fr_container_35 {
  float: none;
  display: block;
  width: 99.98%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 2.94em
}

.fr_content_06 {
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #042e3a
}

.fr_c06_2_column_grid {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 940px
}

.fr_c06_2_column_grid.fr-grid>.fr-widget {
  float: left
}

.fr_c06_2_column_grid>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 5%;
  margin-bottom: 0;
  margin-left: 0;
  width: 45%;
  clear: left;
  max-width: inherit
}

.fr_c06_2_column_grid>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 5%;
  width: 45%;
  clear: none;
  max-width: inherit
}

.fr_c06_paragraph_text_two {
  display: block;
  width: 93%;
  margin-bottom: 20px;
  min-height: 22rem
}

.fr_c06_image_two {
  width: 93%;
  margin-top: 1rem
}

.fr_c06_paragraph_text {
  display: block;
  width: 93%;
  margin-bottom: 20px;
  margin-left: 25px;
  min-height: 22rem
}

.fr_c06_image {
  width: 93%;
  margin-top: 1rem;
  margin-right: 20px;
  margin-left: 20px
}

.fr_image_10 {
  width: 24.27%;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  max-width: 1024px
}

.fr_hd1_button_27 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_28 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_container_36 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto
}

.fr_hd1_button_29 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_image_11 {
  width: 24.27%;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  max-width: 1024px
}

.fr_container_39 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto
}

.fr_hd1_button_30 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_31 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_32 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_33 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_text_block_center_6 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px
}

.fr_paragraph_center_26 {
  float: none;
  display: block;
  font-family: Oxygen;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35em;
  text-align: center;
  color: white
}

.fr_header_center_6 {
  float: none;
  display: block;
  margin-bottom: .2em;
  min-height: 1.35em
}

.fr_content_16 {
  float: none;
  display: block;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #042e3a
}

.fr_c07_2_column_grid_10 {
  float: none;
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.18);
  max-width: 940px
}

.fr_c07_2_column_grid_10.fr-grid>.fr-widget {
  float: left
}

.fr_c07_2_column_grid_10>.fr-widget:nth-child(2n+1) {
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 0;
  width: 48%;
  clear: left;
  max-width: inherit
}

.fr_c07_2_column_grid_10>.fr-widget:nth-child(2n+2) {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2%;
  width: 48%;
  clear: none;
  max-width: inherit
}

.fr_container_40 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto
}

.fr_hd1_button_34 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_35 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_hd1_button_36 {
  float: none;
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 1em;
  padding-right: .3em;
  padding-bottom: 1em;
  padding-left: .3em;
  min-height: 3.25em;
  max-width: 9em
}

.fr_c07_paragraph_text_10 {
  display: block;
  margin-top: 1em;
  margin-bottom: 20px
}

.fr_c07_image_10 {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px
}

.fr_big_block_5 {
  float: none;
  display: block;
  width: 32%;
  margin-top: -60px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  background-position: center center;
  background-size: cover;
  min-height: 57px
}

.fr_image_12 {
  float: none;
  display: block;
  width: 56%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px
}

.fr_container_41 {
  float: none;
  display: block;
  width: 99.98%;
  margin-right: auto;
  margin-left: auto;
  background-color: #030a24;
  min-height: 2.94em
}

.fr_mobile_toggle .fr-svg-inner {
  padding-bottom: 84.15300546448087%;
  position: relative
}

.fr_youtube_video .fr-video-inner {
  padding-bottom: 56.25%;
  position: relative
}

@media screen and (max-width:768px) {
  .fr_navigation_link {
    text-align: left
  }
  .fr_navigation {
    padding-top: 0;
    padding-bottom: 7px
  }
  .fr_items {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    max-height: 0;
    overflow: hidden
  }
  .fr_link_3 {
    display: block
  }
  .fr_link_2 {
    display: block
  }
  .fr_link_1 {
    display: block
  }
  .fr_mobile_toggle {
    display: block
  }
  .fr_link_4 {
    display: block
  }
  .fr_link_5 {
    display: block
  }
  .fr_link_6 {
    display: block
  }
  .fr_link_7 {
    display: block
  }
  .fr_c07_2_column_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_c07_2_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c07_2_column_grid_2.fr-grid>.fr-widget {
    float: left
  }
  .fr_c07_2_column_grid_2>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c07_2_column_grid_3.fr-grid>.fr-widget {
    float: left
  }
  .fr_c07_2_column_grid_3>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c07_2_column_grid_7.fr-grid>.fr-widget {
    float: left
  }
  .fr_c07_2_column_grid_7>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c07_2_column_grid_8.fr-grid>.fr-widget {
    float: left
  }
  .fr_c07_2_column_grid_8>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c07_2_column_grid_9.fr-grid>.fr-widget {
    float: left
  }
  .fr_c07_2_column_grid_9>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c07_2_column_grid_7.fr-grid>.fr-widget {
    float: left
  }
  .fr_c07_2_column_grid_7>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c07_2_column_grid_9.fr-grid>.fr-widget {
    float: left
  }
  .fr_c07_2_column_grid_9>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_g04_4_column_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_g04_4_column_grid>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 1.5%;
    margin-bottom: .6em;
    margin-left: 1.5%;
    width: 47%;
    clear: left;
    max-width: inherit
  }
  .fr_g04_4_column_grid>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 1.5%;
    margin-bottom: .6em;
    margin-left: 1.5%;
    width: 47%;
    clear: none;
    max-width: inherit
  }
  .fr_g04_4_column_grid_2.fr-grid>.fr-widget {
    float: left
  }
  .fr_g04_4_column_grid_2>.fr-widget:nth-child(2n+1) {
    margin-top: .6em;
    margin-right: 1.5%;
    margin-bottom: .6em;
    margin-left: 1.5%;
    width: 47%;
    clear: left;
    max-width: inherit
  }
  .fr_g04_4_column_grid_2>.fr-widget:nth-child(2n+2) {
    margin-top: .6em;
    margin-right: 1.5%;
    margin-bottom: .6em;
    margin-left: 1.5%;
    width: 47%;
    clear: none;
    max-width: inherit
  }
  .fr_c06_2_column_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_c06_2_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_c07_2_column_grid_10.fr-grid>.fr-widget {
    float: left
  }
  .fr_c07_2_column_grid_10>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}

@media screen and (max-width:480px) {
  .fr_h1_right_black {
    font-size: 1.7em
  }
  .fr_header_4 {
    padding-top: 80px;
    padding-bottom: 80px
  }
  .fr_hd4_buttons.fr-grid>.fr-widget {
    float: left
  }
  .fr_hd4_buttons>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_hd4_main_title {
    margin-top: 0
  }
  .fr_g04_4_column_grid.fr-grid>.fr-widget {
    float: left
  }
  .fr_g04_4_column_grid>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
  .fr_g04_4_column_grid_2.fr-grid>.fr-widget {
    float: left
  }
  .fr_g04_4_column_grid_2>.fr-widget:nth-child(1n+1) {
    margin-top: .6em;
    margin-right: 0;
    margin-bottom: .6em;
    margin-left: 0;
    width: 100%;
    clear: left;
    max-width: inherit
  }
}

@media screen and (max-width:320px) {
  .fr_image_6 {
    float: none;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto
  }
  .fr_c07_two_7 {
    width: 100%;
    min-height: 36.19rem
  }
  .fr_container_24 {
    width: 100%;
    margin-top: -0.27rem;
    min-height: 6.81rem
  }
  .fr_c07_paragraph_text_7 {
    margin-bottom: 0
  }
  .fr_image_7 {
    width: 100%
  }
  .fr_c07_two_7 {
    width: 100%;
    min-height: 36.19rem
  }
  .fr_container_24 {
    width: 100%;
    margin-top: -0.27rem;
    min-height: 6.81rem
  }
  .fr_c07_paragraph_text_7 {
    margin-bottom: 0
  }
  .fr_image_7 {
    width: 100%
  }
  .fr_image_8 {
    width: 100%
  }
  .fr_container_29 {
    width: 67.04%;
    min-height: 4.31em
  }
  .fr_image {
    width: 100%
  }
  .fr_gallery_10 {
    background-image: url(../images/thumbnail/outside-jpg-888x500_5.jpg_888x500.jpg);
    background-position: center center;
    background-size: cover
  }
  .fr_c06_paragraph_text_two {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
  .fr_c06_image_two {
    float: none;
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto
  }
  .fr_c06_paragraph_text {
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto
  }
  .fr_c06_image {
    float: none;
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto
  }
  .fr_c07_two_10 {
    width: 100%;
    min-height: 36.19rem
  }
  .fr_container_40 {
    width: 100%;
    margin-top: -0.27rem;
    min-height: 6.81rem
  }
  .fr_c07_paragraph_text_10 {
    margin-bottom: 0
  }
  .fr_image_12 {
    width: 100%
  }
}

.fr_hd1_button_6 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_6:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_3 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_3:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_5 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_5:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_2 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_2:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_4 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_4:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_15 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_15:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_16 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_16:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_17 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_17:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_21 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_21:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_22 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_22:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_23 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_23:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_34 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_34:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_35 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_35:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_36 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_36:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_33 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_33:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_30 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_30:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_31 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_31:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_32 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_32:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_29 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_29:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_28 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_28:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}

.fr_hd1_button_27 {
  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out
}

.fr_hd1_button_27:hover {
  color: black;
  background-color: white;
  transition-duration: .125s
}